<div class="wrapper">
  <div class="landing">
    <div class="row">
      <div class="landing-content">
        <h1>Hello, my name is Chloé.</h1>
        <h3><i>I am a Junior Fullstack Developer & Web Designer</i></h3>
      </div>
    </div>
  </div>
  <div class="about">
      <div class="about-row">
        <div class="hidden-xs col-md-2">
          <div class="about-icons">
            <i class="fas fa-plane"></i>
            <i class="fas fa-code"></i>
            <i class="fas fa-venus"></i>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="about-me">
            <h3>My Story</h3>
            <p>
              I am from the small island of Bermuda. I have been curious about coding for over a decade and finally took the plunge to learn to code and become a developer this year.
            </p>
            <p>
              I graduated from the University of Waterloo with a BA in Anthropology and double minor in Psychology and Fine Art. I Worked for 3 years as a program coordinator at an ocean science research institute in my home of Bermuda. In April of 2018, I completed an intensive 9 week bootcamp in Montreal with <b><a href="https://www.lewagon.com/program" target="_blank">Le Wagon</a></b>. There I gained 300+ hours of coding experience and knowledge.
             </p>
             <p>
              I have an interest in art, science, environmental protection, and observing the ways in which increased use of technology affects individuals and our society. I am currently developing my portfolio, travelling the world, and accepting work.
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="skills">
    <div class="row">
      <div class="col-xs-12">
        <div class="skills-content">
          <h2>Skills</h2>
          <p>
            <ul style="list-style-type: none; padding-left: 0;">
              <li>HTML, CSS, & SASS</li>
              <li>Ruby on Rails</li>
              <li>Javascript</li>
              <li>SQL</li>
              <li>CRUD/MVP Design</li>
              <li>Git & Github</li>
            </ul>
          </p>
          <p>
            <ul style="list-style-type: none; padding-left: 0;">
              <li>Strong Initiative & Creativity</li>
              <li>Self Directed</li>
              <li>Works Well With Others</li>
              <li>Passionate about Code</li>
              <li>Impressive Organizational Skills & Forethought</li>
              <li>Enthusiastic to Learn & Master New Skills</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
    <div class="row">
      <!-- <div class="col-xs-12"> -->
        <div class="contact-content">
          <div class="contact-text">
            <h2>Get In Touch</h2>
          </div>
          <%#= link_to <i class="far fa-envelope"></i>, "mailto:chloe.f.baron@gmail.com" %>
          <div class="contact-links">
            <%= link_to "mailto:chloe.f.baron@gmail.com", target: "_blank" do %>
            <i class="far fa-envelope"></i>
            <% end %>
            <%= link_to "https://github.com/chloebaron", target: "_blank" do %>
            <i class="fab fa-github"></i>
            <% end %>
            <%= link_to "https://www.linkedin.com/in/chloe-baron", target: "_blank" do %>
            <i class="fab fa-linkedin"></i>
            <% end %>
            <%= link_to "https://www.instagram.com/cholaybrown/", target: "_blank" do %>
            <i class="fab fa-instagram"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



